* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  margin: 50px auto 0;
  font-size: 20px;
  font-family: 'maru';
  color: gray;
  transition-duration: 0.3s;
}
a:hover {
  color: #008711;
}

.title-row {
  user-select: none;
  text-align: center;
  padding: 70px 0;
}

span {
  font-size: 80px;
  font-family: 'maru';
}

.farm {
  color: #6aff91;         
  -webkit-text-stroke: 1px #006e0f;
}

.subtitle {
  position: absolute;
  top: 195px;
  left: 50%;
  font-size: 20px;
  font-family: 'maru';
  transform: translateX(-50%);
}

.input-row, .input-row2{
  position: relative;
}

.input-row > input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  font-size: 15px;
  background: white;
}

input {
  width: 350px;
  margin: 8px auto 0;
}

.input-row > input:focus {
  outline: none;
}

#login_res {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
}

label {
  user-select: none;
  cursor: pointer;
  position: absolute;
  padding: 10px;
  top: 68px;
  right: 112px;
  color: black;
}

.container {
  position: absolute;
  border: 2px solid gray;
  border-radius: 15px;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  background: white;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.5);
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 8px;
  margin: 60px auto 0 auto;
  width: 150px;
  height: 50px;
  font-weight: 900;
  font-size: x-large;
  color: white;
  background: gainsboro;
  transition-duration: 0.3s;
}

.btn:hover {
  background-color: #00e01a;
}

.btn:focus {
  outline: none;
}

#login_txt {
  padding-top: 5px;
  left: 50%;
  transform: translateX(-50%);
}

/* FONT */
@font-face {
  font-family: 'maru';
  src: url('../font/MaruBuri-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'dokdo';
  src: url('../font/EastSeaDokdo-Regular.ttf') format('truetype');
}