
h1 {
  user-select: none;
  padding-top: 70px;
  font-size: 80px;
  font-family: 'maru';
}

a#back {
  text-align: center;
  display: block;
  margin: 20px auto 0;
}

p {
  min-width: 220px;
  font-size: 13px;
}

.input-row2 {
  padding-left: 50px;
}

.input-row2 > input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  margin-top: 22px;
  width: 250px;
  font-size: 15px;
  background: white;
}

input#pw2 {
  margin-top: 5px;
}

input#user_nm {
  margin-top: 20px;
  width: 190px;
}

input.compare {
  padding: 8px;
  width: 100px;
}

input.compare:active, #isOn:active {
  box-shadow: 5px 5px 10px gainsboro  inset;
}

.i-comment {
  position: absolute;
}

#isOn {
  position: static;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 32px;
  top: 170px;
  right: 170px;
  width: 85px;
  background: white;
}

input.btn {
  display: block;
  margin: 30px auto 0;
}

@keyframes wave {
  from { transform: rotate(0deg); }
  from { transform: rotate(-360deg); }
}

@font-face {
  font-family: 'dokdo';
  src: url('../../font/EastSeaDokdo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'maru';
  src: url('../../font/MaruBuri-Bold.ttf') format('truetype');
}