.backgrounds {
    position: relative;
    background-image: url(../background/bg5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    min-height: 560px;
}

.container {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 0;
    margin: 100px auto 40px auto;
    width: 700px;
    height: 455px;
    background: white;
}

.select-box {
    position: relative;
    margin: 135px 45px 0 auto;
    width: 230px; /* cont-select와 동일 */
}

h2 {
    position: absolute;
    top: 38px;
    left: 40px;
    font-size: 30px;
    margin: 0;
}

p.txt {
    position: absolute;
    left: 40px;
    top: 70px;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

/* select */
.cont-select {
    position: absolute;
    display: block;
    width: 230px;
}

.btn-select {   
    display: block;
    text-align: left;
    border: 3px solid darkcyan;
    border-radius: 5px;
    padding-left: 20px;
    margin: 10px auto 0 auto;
    width: 230px;
    height: 40px;
    font-size: 14px;
    background: white;
}

.btn-select:hover {
    background: whitesmoke;
}

.list-member {
    display: none;  
    border: 3px solid darkcyan;
    border-radius: 5px;
    padding-bottom: 5px;
    margin: 3px auto 0 auto;
    width: 226px;
    background: white;
}

.options {
    text-align: left;
    border: 0 solid black;
    border-radius: 3px;
    margin: 5px 0 0 15px;
    padding: 5px 0 5px 3px;
    width: 170px;
    font-size: 15px;
    background: white;
}

.options:hover {
    background: whitesmoke;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    width: 100px;
}

/* img row */
.picture {
    position: absolute;
    top: 20px;
    right: 50%;
    margin: 0;
    transform: translateX(50%);
}

.img-box {
    position: absolute;
    border: 1px solid gray;
    border-radius: 10px;
    top: 135px;
    left: 30px;
    width: 330px;
    height: 280px;
    bottom: 63px;
}

.img-textbox {
    border: 1px solid gray;
    /* border-radius: 10px; */
    margin: 160px auto 0 auto;
    padding: 5px 10px 0 10px;
    width: 280px;
    height: 100px;
}
.red {
    color: red;
}
.img-text {
    color: black;
    font-size: 14.5px;
}

/* information row */
.infomation {
    float: right;
    border: 1px solid gainsboro;
    border-width: 0 0 0 3px;
    padding: 50px 45px 0 30px;
    margin: 0;
    width: 230px;
    height: 232px;
}

.flexible {
    margin-top: 30px;
    width: 200px;
}

.value {
    pointer-events: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    padding: 10px 20px 10px 10px;
    margin: 0 0 10px 0;
    width: 198.4px;
    font-size: 16px;    
}

input:focus {
    outline: none;
}

.add-container {
    display:none;
    position: absolute;
    top: 51px;
    left: 50%;
    transform: translateX(-50%);
}

.add-box {
    position: relative;
    border: 3px solid darkcyan;
    border-radius: 10px;
    top: 65px;
    width: 1000px;
    height: 420px;
    background-color: white;
    box-shadow : rgba(0,0,0,0.5) 0 0 0 9999px;
    z-index : 100;
}

.add-title {
    top: 20.5px;
    left: 20px;
}

.close {
    position: absolute;
    border: none;
    top: 3px;
    right: 8px;
    width: 60px;
    padding-bottom: 10px;
    height: 50px;
    font-size: 50px;
    color: #000000be;
    background: transparent;
}

.regist-value {
    pointer-events: all;
    margin: 70px 0 0 20px;
}