.backgrounds {
    background-image: url(../background/bg3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    min-height: 560px;
}

.box {
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    margin: 50px auto 50px auto;
    width: 700px;
    height: 400px;
    background: white;
}

/* top row */

.title {
    position: absolute;
    left: 40%;
    width: 360px;
}

h2 {
    margin: 25px 40px 0 0;
    font-size: 30px;
}

p.txt {
    position: absolute;
    float: right;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

/* mid row */
.pillar {
    position: relative;
    border: 1px solid gainsboro;
    border-radius: 10px;
    margin: 25px 0 0 50px;
    width: 200px;
    height: 350px;
    overflow: hidden;
    background-color: aqua;
    background: url(../icon/water.png);
    background-size: 100px;
    background-repeat: repeat-x;
    background-position: 0 200px;
}

.type {
    animation: one 4s linear infinite;
}

@keyframes one {
    0% {
        background-position: 100px 250px;
    }
    50% {
        background-position: 400px 230px;
    }
    100% {
        background-position: 800px 250px;
    }
}

@keyframes two {
    0% {
        background-position: 100px 180px;
    }
    50% {
        background-position: 400px 160px;
    }
    100% {
        background-position: 700px 180px;
    }
}

@keyframes three {
    0% {
        background-position: 0 110px;
    }
    50% {
        background-position: 400px 95px;
    }
    100% {
        background-position: 800px 110px;
    }
}

p {
    margin: 0px;
    padding: 0px;
}

.grade-txt {
    position: absolute;
    width: 120px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight: 800;
    /* text-shadow: 1px 1px 0 black, -1px 1px 0 black, 1px -1px 0 gainsboro, -1px -1px 0 gainsboro; */
}

.arrow {
    float: right;
}

.line {
    width: 100px;
    height: 1px;
    border-top: 1px solid black;
}

.arw1 {
    position: absolute;
    top: 34%;
    right: 49%;
}

.arw2 {
    position: absolute;
    top: 54%;
    right: 49%;
}

.arw3 {
    position: absolute;
    top: 74%;
    right: 49%;
}