.backgrounds {
    background-image: url(../background/bg4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    min-height: 560px;
}

.container {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    width: 700px;
    height: 470px;
    margin: 43px auto 43px auto;
    background: white;
}

.select-box {
    position: relative;
    margin: 45px 40px 0 auto;
    width: 230px; /* cont-select와 동일 */
    height: 81px;
}

h2 {
    position: absolute;
    top: 38px;
    left: 40px;
    font-size: 30px;
    margin: 0;
}

p.txt {
    position: absolute;
    left: 40px;
    top: 70px;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

/* select */
.cont-select {
    position: absolute;
    display: block;
    border: none;
    width: 230px;
}

.btn-select {   
    text-align: left;
    margin: 0 auto 0 auto;
    padding-left: 20px;
    display: block;
    width: 230px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    color: gray;
}

.btn-select:hover {
    background: whitesmoke;
}

.list-member {
    display: none;  
    border: 1px solid black;
    border-radius: 10px;
    margin: 3px auto 0 auto;
    width: 230px;
    height: 80px;
    background: white;
}

.options {
    text-align: left;
    margin: 5px 0 0 20px;
    width: 150px;
    border: 0 solid black;
    border-radius: 3px;
    background: white;
}

.options:hover {
    background: whitesmoke;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    width: 100px;
}

/* img row */
.picture {
    position: absolute;
    top: 20px;
    right: 50%;
    margin: 0;
    transform: translateX(50%);
}

.img-box {
    position: absolute;
    border: 1px solid gray;
    border-radius: 10px;
    left: 30px;
    width: 330px;
    height: 280px;
    bottom: 63px;
}

.img-textbox {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 160px auto 0 auto;
    padding: 5px 10px 0 10px;
    width: 280px;
    height: 100px;
}
.red {
    color: red;
}
.img-text {
    color: black;
    font-size: 14.5px;
}

/* information row */
.infomation {
    float: right;
    margin: 0 40px 0 0;
    border: 1px solid gray;
    border-radius: 10px;
    /* border-bottom: 3px solid green; */
    padding: 30px 20px 20px 20px;
    width: 230px;
    height: 200px;
    /* background: green; */
}

.flexible {
    width: 200px;
}

.value {
    pointer-events: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    padding: 10px 20px 10px 10px;
    margin: 0 0 10px 0;
    width: 198.4px;
    font-size: 16px;
    background: white;
}

.value:focus {
    outline: none;
}

/* btn row */
.btn-row {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
}

.btn {
    border: 1px solid;
    border-radius: 45px;
    margin: 10px auto 50px auto;
    display: block;
    width: 170px;
    height: 50px;
    background: white;
}

.btn:active {
    background: ghostwhite;
}