/* backgrounds and foundations */
.backgrounds {
    background-image: url(../background/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    min-height: 560px;
}

.title-row {
    left: 10px;
}

 .title-txt {
    margin: 5px 110px 0 0;
    min-width: 300px;
    left: 0;
}

h1 {
    margin: 0px; 
    color: white;
}

h2 {
    position: absolute;
    top: 38px;
    left: 40px;
    font-size: 30px;
    margin: 0;
}

p.txt {
    position: absolute;
    left: 40px;
    top: 70px;
    font-size: 16px;
    font-weight: 500;
    color: green;
}

p {
    font-size: 12px;
    margin: 8px 0 0 0;
    color: #6a6a6ad1;
}

span.ph-txt {
    margin: 23px 0 0 50px;
    font-size: 15px;
    color: gray;
}

/* middle row */
.container {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    width: 600px;
    height: 400px;
    margin: 43px auto 0 auto;
    padding: 0 40px 0 0;
    background: white;
}

.data-box {
    position: absolute;
    border: solid gray;
    border-width: 0 0 1px 0;
    padding-bottom: 10px;
    top: 27%;
    left: 40px;
    width: 550px;
}

.cntr {
    margin-right: 5px;
}

.data {
    outline: none;
    border: 1px solid black;
    height: 25.6px;
    margin: 20px 0 0 0;
    padding: 4px 50px 4px 10px;
    pointer-events: none;
}

.control {
    margin: 20px 0 0 0;
    text-align: center;
}

.btn-apply {
    border: 1px solid ;
    border-radius: 45px;
    margin: 20px;
    width: 170px;
    height: 50px;
    background: white;
}

.btn-apply:active {
    background: gainsboro;
}

/* button row */
.btn-row {
    position: absolute;
    right: 32%;
    bottom: 17%;
    width: 115px;
}

.btn-grade {
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    width: 40px;
    height: 40px;
    font-size: 20px;
}
.btn-grade:focus {
    outline: none;
}

.red {
    background: red;
}
.red:active {
    background: #a00000d1;
}
.blue {
    margin-left: 29px;
    background: blue;
}
.blue:active {
    background: #000597d1;
}