.backgrounds {
    background-image: url(../background/bg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: gray;
    min-height: 598px;
}

.title-row {
    left: 10px;
}

 .title-txt {
    margin: 5px 110px 0 0;
    min-width: 300px;
    left: 0;
}

.title {
    position: relative;
    padding: 38px 0 35px 40px;
}

h1, h2 , div{
    margin: 0;
}

h1 {
    color: white;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 12px;
    margin: 8px 0 0 0;
    color: #6a6a6ad1;
}

p.txt {font-size: 16px;
    font-weight: 500;
    color: green;
}

/* graph row */
.flexible {
    display: flex;
    padding-left: 40px;
    height: 255px;
    width: 640px;
}

.myChart {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    height: 250px;
    margin: 0;
}

/* middle row */
.container {
    position: relative;
    border: 1px solid gray;
    border-radius: 10px;
    width: 690px;
    height: 450px;
    margin: 100px auto 0 auto;
    background: white;
}

.value-box {
    border: solid gainsboro;
    border-width: 0 0 0 3px;
    padding: 15px 35px 0 30px;
    margin: 0 0 0 auto;
    width: 230px;
    height: 253px;
    /* background: yellow; */
}

.value {
    pointer-events: none;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px 20px 10px 10px;
    float: left;
    margin: 0 10px 10px 0;
    width: 200px;
    font-size: 16px;
    background: white;
}
.led-value {
    margin-top: 20px;
}
.value:focus {
    outline: none;
}

.progress {
    appearance: none;
    position: relative;
    padding-right: 3px;
    float: right;
    right: 40px;
    bottom: 20px;
    width: 235px;
    height: 20px;
}
.progress::-webkit-progress-bar {
    border-radius: 5px;
    overflow: hidden;
    background: white;
    box-shadow: inset 3px 3px 10px #ccc;
}
.progress::-webkit-progress-value {
    transition-duration: 0.3s;
    background: -webkit-linear-gradient(to right, #FFA500, #FF4500);
    background: linear-gradient(to right, #FFA500, #FF4500);
}