@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base setting */
html, body {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

/* top row */
.header {
    position: relative;
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    height: 60px;
    top: 0;
    color: black;
    background: white;
    z-index: 100;
}

.header>.info {
    position: absolute;
    right: 30px;
    top: 15px;
}

h1 {
    padding: 5px 0 0 30px;
    margin: 0px;
    color: black;
}

/* middle row */
img {
    pointer-events: none;
}

/* bottom row */
.btm-row {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.softbox {
    background: white;
    border: 1px solid gray;
    margin: 0 auto 0 auto;
    padding: 0 7px 7px 7px;
    max-width: 600px;
}

p {
    margin: 8px 0 0 0;
    color: #e5e5e5;
}

p.copyright {
    color: black;
    font-size: 13px;
    margin-top: 7px;
}