/* base setting */
html, body {
    margin: 0px; 
    padding: 0px;
    user-select: none;
}

/* top row */
.header {
    position: fixed;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    padding: 10px;
    background: white;
    width: 100%;
    z-index: 100;   
}

.title-txt {
    margin: 5px 110px 0 0;
    min-width: 300px;
    left: 0;
}

.infobox {
    margin: 5px 0 0 15px;
    min-width: 220px;
    float: left;
}

.info{
    margin: 5px;
    font-size: 16px;
    float: right;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
}

/* middle row */
img {
    pointer-events: none;
}

/* bottom row */
.btm-row {
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.softbox {
    background: white;
    border: 1px solid gray;
    margin: 0 auto 0 auto;
    padding: 0 7px 7px 7px;
    max-width: 600px;
}

p {
    margin: 8px 0 0 0;
    color: #e5e5e5;
}

p.copyright {
    color: black;
    font-size: 13px;
    margin-top: 7px;
}