@charset "utf-8";

.border {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blue {
    border-radius: 10px;
    position: relative;
    background: linear-gradient(to right, #0095ff, #0066ff, #004cff);
}

body {
    background: ghostwhite;
}

h1 {
    padding: 0;
}
h2 {
    margin: 15px 0 0 0; 
    font-size: 30px;
    color: black;
    transition: 0.3s;
}

span {
    margin: 0;
}

p {
    margin: 0;
    color: black;
}

img:not(#img_w) {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    transition: 0.3s;
}
#img125 {
    margin-top: 35px;
}
#img_w {
    margin-top: -11px;
    width: 170px;
    height: 170px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

i {
    margin: 6px 0 0 4px;
    font-size: 25px;
}

a {
    display: flex;
    width: 150px;
    color: black;
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
}

a:focus:not(#left-li-0 > a) {
    outline: none;
}

/* tool tip bar */
#tooltip { position: relative; }
#tooltip > div { 
    position: absolute; 
    box-shadow: rgba(50, 50, 93, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.5) 0px 3px 7px -3px;
}

[class^="t-partbar"] {
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
    width: 350px;
    height: 30px;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.t-partbar {
    width: 245px;
}
[class^="t-partbar"] > p {
    padding: 3px 15px 0 0;
    text-align: right;
    font-weight: bold;
}
#t-session > .t-partbar { width: 350px; }

[class^="part"] {
    float: left;
    padding: 5px;
    padding-left: 10px;
    width: 130px;
    height: 30px;
    color: white;
    font-weight: bold;
    background: linear-gradient(to right top, rgb(184, 184, 184), gray);
}
.part-user {
    padding: 3px;
    padding-left: 10px;
    width: 50px;
}
.part-session {
    width: 100px;
    background: linear-gradient(to right top, #2c0662, #5222ff); 
}
.part-1 { background: linear-gradient(to right top, #861657, #ffa69e); }
.part-2 { background: linear-gradient(to right top, #d16c00, gold); }
.part-3 { background: linear-gradient(to right top, #00985b, #00ff99); }
.part-4 { background: linear-gradient(to right top, #0084ff, #004cff); }

#t-user, #t-project, #t-session {
    display: none;
    border-radius: 13px;
    padding: 10px;
    padding-left: 30px;
    top: 60px;
    left: 30px;
    width: 300px;
    height: 70px;
    font-size: 17px;
    background: white;
    z-index: 100;

}
#t-user::after, #t-project::after, #t-session::after {
    content: "◀";
    position: absolute;
    font-size: 30px;
    color: white;
    left: -23px;
    top: 10px;
}

#t-project {
    width: 410px;
    height: 190px;
    top: 110px;
}
#t-project > p {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}
#t-session {
    width: 400px;
    top: 160px;
}

/* left sidebar css */
#infomation {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 70vh;
}

#infomation >  li {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.3s;
    user-select: none;
}

#infomation > li:hover:not(#left-li-0){
    color: white;
    background: #0084ff;
}

#left-li-0 > a {
    width: 30px;
}

.link_name {
    display: none;
    padding: 8px 0 0 15px;
    width: 150px;
    transition-duration: 0.5s;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#left_container {
    position: relative;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    padding: 15px;
    margin-right: 10px;
    float: left;
    height: 100vh;
    width: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: white;
}

#right_container {
    /* display: flex; */
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    float: right;
    /* background: #0084ff; */
    background: ghostwhite;
}
#middle-box { 
    width: 100%;
    padding: 5px;
}
#middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#media-button-row {
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
}
.media-line {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
}
.media-line > button {
    border: 1px solid gainsboro;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    width: 40%;
    height: 70px;
    color: gainsboro;
    font-size: 23px;
    background: ghostwhite;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* contFrame css */
.contFrame {
    position: relative;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin: 15px;
    width: 400px;
    height: 450px;
    background: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: .3s ease-out;
    z-index: 100;
}

[class^="s-top-box-"] {
    pointer-events: none;
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    height: 230px;
    background: linear-gradient(to top right, #bc0000, #ff1818);
}
.s-top-box-2 {
    background: linear-gradient(to top, #ff7b00, #eaff00); 
}
.s-top-box-3 {
    background: linear-gradient(to top left, #1818d3, #2d7aff);
}

[class^="s-top-box"] > * {
    color: white;
    font-size: 160px;
}

#cont-h {
    font-size: 40px;
}
#cont-p {
    font-size: 20px;
    font-weight: bold;
    color: black;
}
[id^="cont-"] {
    /* text-align: left; */
}

[class^="s-comment-box-"] {
    position: relative;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    height: 85px;
    vertical-align: middle;
    background: ghostwhite;
}
[class^="s-comment-box-"] > span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bx-arrow-back {
    display: block;
    margin: 0;
    float: left;
}

/* move function css */
.remove {
    visibility: hidden;
    opacity: 0;
  }

.move {
    position: absolute;
    padding: 10px;
    margin: 0;
    width: 1280px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.longs {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    width: 1280px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    transition: .3s ease-out;
}

.shorts > div {
    pointer-events: none;
}

/* page inner */
.inner-box {
    padding-left: 40px;
    width: 100%;
    height: 660px;
    background: white;
}

/* C.HW in graph css */
#myGraph, #myChart {
    padding: 10px;
    background: white;
    overflow: hidden;
}
#myGraph { margin-top: 10px; }

#c-top-box {
    /* border: 1px solid black; */
    width: 100%;
    height: 230px;
}

#c-bottom-box {
    margin-top: 10px;
    width: 100%;
    height: 400px;
}

#c-data-left {
    float: left;
    position: relative;
    overflow: hidden;
    width: calc(28% - 10px);
    height: 100%;
}
#c-data-right {
    border-radius: 10px;
    float: right;
    overflow: hidden;
    width: 72%;
    height: 100%;
    background: linear-gradient(to right, #b01ceb, #3300ff);
}

#c-graph-box { 
    border-radius: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    height: 100%;
}
#c-graph-box::-webkit-scrollbar { height: 20px; }
#c-graph-box::-webkit-scrollbar-thumb { background: gainsboro; }

.wave {
    position: absolute;
    border-radius: 35%;
    width: 335px;
    height: 345px;
    top: -150px;
    background: #3300ff53;
    animation: rotate 5s infinite linear;
    z-index: 3;
}
.wave:nth-last-of-type(2) {
    width: 340px;
    height: 350px;
    top: -140px;
    background: #1990ff48;
    animation: rotate 5.7s infinite linear;
    z-index: 2;
}
.wave:nth-last-of-type(3) {
    width: 345px;
    height: 355px;
    top: -130px;
    background: #2b00ff82;
    animation: rotate 6.4s infinite linear;
    z-index: 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.c-water-grade {
    /* border: 1px solid black; */
    width: 100%;
    top: calc(50% - 3px);
    color: white;
    font-size: 40px;
    font-weight: bold;
    z-index: 10;
}

/* weather page css */
.w-data {
    text-align: left;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 170px;
}
.w-data > * {
    height: 150px;
}

.w-info-box {
    margin-left: 30px;
    padding: 10px;
    width: 100%;
}

.w-data2 {
    width: 100%;
    margin-top: 10px;
    height: 480px;
}

#w-grid-box, #w-console-box {
    height: 480px;
}

#w-grid-box {
    float: left;
    overflow: hidden;
    width: 510px;
}

/* calendar css */
#w-console-box {
    position: relative;
    float: right;
    overflow: hidden;
    width: 675px;
    height: 480px;
}

#w-console {
    border-bottom: 2px solid gainsboro;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;    
    height: 420px;
    background: white;
}
#w-console::-webkit-scrollbar { border: none; } 
#w-console::-webkit-scrollbar-thumb { background: gainsboro; }

#w-command {
    border: none;
    outline: none; 
    float: left;
    padding: 5px 5px 5px 10px;
    width: 80%;
    height: 60px;
    font-size: 25px;
}
#w-command-btn {
    border: none;
    width: 20%;
    float: right;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    background: gainsboro;
}
.w-command-btn:active {
    background: #c8c6c6;
}

#w-grid {
    gap: 15px;
    grid-template-columns: repeat(3, 150px);
    border-radius: 10px;
    text-align:center;
    display: grid;
    padding: 15px;
    width: 100%;    
    height: 100%;
    background: linear-gradient(to bottom, #0084ff, #005eff);
}

[class^="calendar"] {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
}

.w-data_inner {
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    background: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}
.w-data_inner:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

span.w-text {
    position: absolute;
    overflow: hidden;
    line-height: 45px;
    top: 50%;
    left: 50%;
    width: 100%;
    font-weight: bold;
    font-size: 25px;
    color: black;
    transform: translate(-50%, -50%);
}

span.w-text2 {
    color: #005eff;
}

#w-tp {
    padding: 20px;
    width: 250px;
    font-size: 110px;
    font-weight: bold;
}

.l-panels-box {
    border: none;
    border-radius: 10px;
    margin-top: 3px;
    width: 100%;
    height: 380px;
    background: linear-gradient(to bottom, #0099ff, #0084ff);
}
.l-line {
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 20px;
    right: 70px;
    width: 1100px;
    height: 50px;
    background: white;
}
.l-line::after {
    position: relative;
    top: -17px;
    left: 10px;
    content: "‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖‖";
    height: 100px;
    letter-spacing: 20px;
    color: #afafaf;
    font-size: 52px;
    font-weight: bold;
    font-family: 'oswald';
}

input.l-panels {
    text-align: center;
    border: none;
    border-radius: 10px;
    padding-bottom: 15px;
    margin: 5px;
    width: 110px;
    height: 200px;
    font-size: 170px;
    font-family: 'oswald';
    background: white;
    transition: 0.5s;
}
.colon {
    position: relative;
    border-radius: 10px;
    margin: 5px;
    width: 50px;
    height: 200px;   
    font-size: 170px;
    background: white;
}
.colon > span {
    position: absolute;
    height: 100px;
    top: -50px;
    right: 11px;
    font-family: 'oswald';
}

.l-left-box, .l-right-box {
    padding: 110px 20px 0 20px;
    display: flex;
    width: 580px;
    height: 310px;  
}

.l-left-box {
    justify-content: left;
    float: left;
}
.l-right-box {
    justify-content: right;
    float: right;
}

.l-btn-box {
    border-radius: 10px;
    padding: 0 20px;
    margin-top: 10px;
    height: 70px;
    background: #0084ff;
}
.l-btn-box > div {
    display: grid;
    gap: 6px;
    grid-template-columns: 115px 115px 50px 115px 115px;
    justify-content: center;
    padding: 0;
    width: 540px;
    height: 50px;
}

.l-console {
    float: left;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 15px;
    margin-top: 10px;
    width: 1000px;
    height: 180px;
}
.l-console::-webkit-scrollbar { border: none; } 
.l-console::-webkit-scrollbar-thumb { background: gainsboro; }

.l-console > ul > li{
    margin-bottom: 5px;
    font-size: 20px;
    text-align: left;
}

[id^="panel_"] {
    border: none;
    border-radius: 0 15px 15px 0;
    margin-top: 10px;
    height: 50px;
    font-size: 25px;
    color: gainsboro;
    background: white;
}

button.l-time {
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    width: 185px;
    height: 180px;
    color: #0084ff;
    font-weight: bold;
    font-size: 25px;
    background: white;
}

[id^="panel_"]:active, .l-time:active, .media-line > button:active {
    color: gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-left {
    /* margin-left: 20px; */
}

.btn-right {
    /* margin-right: 20px; */
}

#panel_1, #panel_3, #panel_5, #panel_7 {
    border-radius: 15px 0 0 15px;
}
#panel_3, #panel_7 { grid-column: 4; }

@font-face {
    font-family: 'maru';
    src: url('/src/font/MaruBuri-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'oswald';
    src: url('/src/font/Oswald-Light.ttf');
}



@media ( max-width: 800px ) {
}
@media ( max-width: 1000px ) {
    #left_container, #c-top-box > #c-data-right, #w-console-box,
    .l-console, .colon > span {
        display: none;
    }
    .contFrame {
        width: 100%;
    }
    .longs {
        width: 100%;
    }
    .inner-box {
        padding-top: 30px;
        padding-left: 0;
    }
    
    #c-top-box, #c-data-left {
        width: 100%;
        height: 200px;
    }
    .wave {
        width: 402px;
        height: 414px;
        left: 50%;
        transform: translate(-50%, 0%);
        top: -200px;
    }
    .wave:nth-last-of-type(2) {
        width: 408px;
        height: 420px;
        top: -195px;
    }
    .wave:nth-last-of-type(3) {
        width: 414px;
        height: 426px;
        top: -190px;
    }
    #c-graph-box {
        border: 2px solid gainsboro;
        border-radius: 10px;
        margin-top: 10px;
        height: 260px;
    }
    #myGraph {
        margin-top: 0;
        border: none;
    }
    #myChart {
        border: none;
        width: 1200px !important;
    }
    #c-chart-box { 
        border: 2px solid gainsboro;
        border-radius: 10px;
        overflow-y: hidden;
        overflow-x: scroll;
        width: 100%;
    }
    #c-chart-box::-webkit-scrollbar { height: 20px; }
    #c-chart-box::-webkit-scrollbar-thumb { background: gainsboro; }
    .c-water-grade {
        -webkit-text-stroke: 1px black;
    }
    .w-data , #img_w{
        height: 120px;
    }
    #img_w { 
        width: 120px;
        /* margin-left: 20px; */
    }
    .w-data2, #w-grid {
        height: 460px;
    }
    #w-grid-box {
        width: 100%;
        overflow-x: scroll;
    }
    #w-grid {
        width: 510px;
    }
    #w-tp {
        padding: 0;
        padding-left: 20px;
        font-size: 70px;
    }
    [class^="w-text"] {
        font-size: 20px;
    }
    .l-line {
        width: 70%;
        top: 40px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .l-line::after {
        content: "";
    }
    .l-left-box, .l-right-box {
        justify-content: center;
        width: 100%;
        padding: 0 10px;
        height: 180px;
    }
    .l-panels-box {
        padding-top: 50px;
        height: 410px;
    }
    .l-btn-box {
        margin-top: 15px;
        padding: 0;
        height: 130px;
    }
    .l-btn-box > div {
        float: none;
        margin: 0 auto;
        grid-template-columns: 20% 20% 10px 20% 20%;
        width: 100%;
        height: 60px;
    }
    button.l-time {
        margin-top: 15px;
        float: none;
        width: 100%;
        height: 50px;
    }
    div.colon {
        overflow: hidden;
        height: 160px;
    }
    .colon::after {
        content: ":";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 100px;
    }
    input[id^="panels_"] {
        padding: 0 5px;
        width: 20%;
        height: 160px;
        font-size: 100px;
    }
    button { overflow: hidden; }
}

@media (min-width: 1000px) {
    #media-button-row {
        display: none;
    }
}   

@media (min-width: 700px) and (max-width: 1000px) {
    input[id^="panels_"] {
        font-size: 120px;
    }
}

/* @media (max -width:) */

/* @media (min-width: 501px) {
    #media-button-row {
        display: none;
    }
} */