/* select.html
 * 
 */

.flex-container {
    display:flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.contFrame {
    background-color: rgba(27,27,27,0.6);
    text-align: center;
    margin: 20px 10px 0 10px;
    min-width: 200px;
    min-height: 310px;
}

.contFrame:hover {
    background-color: rgb(27 27 27 / 75%);
}

.backgrounds {
    background-image:url(../../img/background/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
}

.mainText {
    max-width: 640px;
    background-color: rgba(27,27,27,0.6);
    margin: 20px auto 0 auto;
    padding: 10px 0 10px 0;
}

.mainText:hover {
    background-color: rgb(27 27 27 / 75%);
}

.mainTitle {
    font-size: 45px;
    margin: 10px 0 0 10px;
    color: white;
}
.subText {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 15px;
}

.txt {
    color: white;
}

h1 {
    margin: 0px; 
    color: white;
}

h2 {
    font-size: 30px;
    margin: 15px 0 0 0;
}


img {
    margin-top: 46.5px;
}

button {
    color: #e5e5e5;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.2);
    margin: 20px 0 16px 0;
    padding: 1px 20px 1px 20px;
}

button:hover {
    background-color: rgb(27 27 27 / 50%);
    border: 1px solid rgb(0 0 0 / 0%);
}