.w-data, #myChart, .c-wp, .weather-box, #w-ul {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background: #0084ff;
}

h2 {
    margin: 15px 0 0 0; 
    font-size: 30px;
    color: black;
    transition: 0.3s;
}
h2:hover {
    font-size: 45px;
}

span {
    margin: 0;
}

p {
    margin: 0;
    color: black;
}

img:not(#img_w) {
    width: 120px;
    height: 120px;
    margin-top: 40px;
    transition: 0.3s;
}
#img125 {
    margin-top: 35px;
}
#img_w {
    margin-top: -11px;
    width: 170px;
    height: 170px;
    box-sizing: border-box;
}

li {
    list-style: none;
}

i {
    margin: 6px 0 0 4px;
    font-size: 25px;
}

a {
    display: flex;
    width: 150px;
    color: black;
    font-size: 16px;
    font-family: Arial;
    text-decoration: none;
}

a:focus:not(#manu > a) {
    outline: none;
}

/* left sidebar css */
#infomation {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 70vh;
}

#infomation >  li {
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 45px;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.3s;
    user-select: none;
}

#infomation > li:hover:not(#manu){
    color: white;
    background: #0084ff;
}

#manu > a {
    width: 30px;
}

.link_name {
    display: none;
    padding: 8px 0 0 15px;
    width: 150px;
    transition-duration: 0.5s;
}

#container {
    display: flex;
    width: 100%;
    height: 100vh;
}

#left_container {
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    overflow: hidden;
    padding: 15px;
    /* margin-right: 10px; */
    float: left;
    height: 100vh;
    width: 80px;
    background: white;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

#right_container {
    display: flex;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    float: right;
    background: #0084ff;
}

#right_container > #middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    width: 1200px;
}

/* contFrame css */
.contFrame {
    position: relative;
    text-align: center;
    border-radius: 10px;
    margin: 15px;
    width: 400px;
    height: 290px;
    background: white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
    transition: .3s ease-out;
    z-index: 100;
}

#cont-p {
    pointer-events: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

.bx-arrow-back {
    display: block;
    margin: 0;
    float: left;
}

/* move function css */
.remove {
    visibility: hidden;
    opacity: 0;
  }

.move {
    position: absolute;
    padding: 10px;
    margin: 0;
    width: 1280px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.longs {
    position: absolute;
    border-radius: 10px;
    padding: 20px;
    width: 1280px;
    height: 700px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    transition: .3s ease-out;
}

/* page inner */
.inner-box {
    padding-left: 40px;
    width: 100%;
    height: 660px;
    background: white;
}

/* C.HW in graph css */
#myGraph, #myChart {
    padding: 10px;
    background: white;
    overflow: hidden;
}
.c-wp { 
    border-radius: 10px;
    margin-top: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;
    z-index: 1000;
}

.c-wp::-webkit-scrollbar {
    overflow: hidden;
    border-radius: 10px;
}
.c-wp::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: gainsboro;
    height: 5px;
}
.c-wrp::-webkit-scrollbar-track {
    padding: 10px;
}

/* weather page css */
.w-data {
    text-align: left;
    display: flex;
    padding: 10px;
    width: 100%;
    height: 170px;
}
.w-data > * {
    /* border: 1px solid black; */
    height: 150px;
}
.w-data2 {
    display: none;
    padding-top: 80px;
    float: right;
    width: 100%;
}

#w-tp {
    padding: 20px;
    width: 250px;
    font-size: 110px;
    font-weight: bold;
}

/* calendar css */
#w-ul {
    padding-bottom: 10px;
    margin-left: 30px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#w-ul::-webkit-scrollbar { border: none; } 
#w-ul::-webkit-scrollbar-thumb {
    background: gainsboro;
}

[class^="calendar"] {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 20px;
}

div[class^="w-data-l"] {
    display: flex;
    justify-content: center;
}

/* div[class^="w-data-l"] > ul {
    font-size: 0;
} */

li[id^="w-"] {
    display: inline-block !important;
}

.w-data_inner {
    position: relative;
    border-radius: 10px;
    text-align: center;
    padding: 15px;
    margin: 20px;
    width: 170px;
    height: 130px;
    font-weight: bold;
    background: white;
}

span.w-text {
    position: absolute;
    overflow: hidden;
    line-height: 45px;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 25px;
    color: black;
    transform: translate(-50%, -50%);
}

#w-ftp > div {
    background: #F266AB;
}
#w-wtr > div{
    background: #00C4FF;
}
#w-hum > div {
    background: #ffe17e;
}
#w-dir_spd > div{
    background: #45FFCA;
}
#w-fd > div {
    background: #E3F4F4;
}
#w-sfd > div{
    background: #EADBC8;
}
#w-uv > div{ 
    background: #9D44C0;
}
#w-ss > div {
    background: #F79327;
}

@font-face {
    font-family: 'maru';
    src: url('/src/font/MaruBuri-Bold.ttf') format('truetype');
}